{% extends "base.html" %}

{% block title %}Add new media{% endblock title %}

{% block content %}
  <div class="grid-container">
    <div class="grid-margin-x grid-x">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="boarder-bottom">Add new media</legend>
          {{ form.title.label(class='form-control-label') }}
          {{ form.title(class='form-control form-control-lg') }}

        </fieldset>
        <div class="form-group">
          {{ form.submit(class='button primary') }}
        </div>
      </form>
    <div>
  </div>
{% endblock content %}
